# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# VS Code settings
.vscode/

# Executables
*.exe
*.dll

# Logs and temp files
*.log
*.tmp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
.env
